@font-face {
    font-family: "GameGlobalNumbers";
    src: url('https://fonts.gstatic.com/s/jersey10/v1/7cHpv4Z8mS2v3LAdyKOScltY.woff2') format('woff2');
    unicode-range: U+0030-0039, U+0025; 
    font-weight: 100 900; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    animation: pixelSlideLoad 1s steps(4) forwards;

    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./../images/background.png') no-repeat center center/cover;

    font-family: "GameGlobalNumbers", "Pixelify Sans", sans-serif;

    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    user-select: none; 
    font-variant-numeric: tabular-nums lining-nums;
    
}

.game-number {
    font-family: "Jersey 10", sans-serif !important;
    letter-spacing: 1px;
    font-weight: normal; 
    font-size: 30px;
    

}



@keyframes pixelSlideLoad {
    0% {
        opacity: 0;
        transform: translateY(-40px);
        filter: brightness(60%);
    }
    33% {
        opacity: 0.5;
        transform: translateY(-25px);
    }
    66% {
        opacity: 0.8;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        filter: brightness(100%);
    }
}

html, body, img, .item-slot, .back-btn {
    image-rendering: pixelated !important;
    image-rendering: crisp-edges !important;
}


.inventory-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    height: 120px;
}

.mini-logo {
    width: 200px;
}

.mini-logo img {
    width: 100%;
    height: auto;
}

.page-title {
    max-height: 500px;
}
.page-title img {
    height: 150px;
    width: auto;
}

.back-btn {
    display: block;
    width: 140px;
    height: 55px;
    background: url('./../images/back-button.png') no-repeat center center/contain; /* Sem dej své dřevěné BACK tlačítko */
    transition: transform 0.15s ease;
}
.back-btn:hover {
    transform: scale(1.05);
}

.nav-btn:hover {
    transform: scale(1.05);
}


.inventory-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px 40px 40px; 
}

.inventory-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0; 
    
    width: 1500px;
    
    height: 80vh; 
}

.inventory-grid p {
    grid-column: 1 / -1; 
    text-align: center;
    font-size: 24px;
    color: white;
}
.inventory-grid p a {
    color: #C97D60;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}
.inventory-grid p a:hover {
    text-decoration: underline;
}


.item-slot.common {
    background: url('./../images/back.png') no-repeat center center/150px 150px; 
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 0.15s ease;
    height: 100%;
    width: auto;
}

.item-slot.rare {
    background: url('./../images/back-rare.png') no-repeat center center/150px 150px; 
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 0.15s ease;
    height: 100%;
    width: auto;
}

.item-slot.epic {
    background: url('./../images/back-epic.png') no-repeat center center/150px 150px; 
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-slot.legendary {
    background: url('./../images/back-legendary1.png') no-repeat center center/150px 150px; 
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 0.15s ease;
    height: 100%;
    width: auto;
}

.item-slot:hover {
    transform: scale(1.03);
    filter: brightness(1.1);
}

.item-slot img {
    max-width: 75%;
    max-height: 75%;
    object-fit: contain;
}

.nav-btn, .foot-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./../images/button.png') no-repeat center center/contain;
    text-decoration: none;
    color: #63372C;
    text-shadow: 2px 2px 0px #C97D60; 
    font-weight: bold;
    text-align: center;
    transition: transform 0.15s ease;
    
    image-rendering: pixelated; 
    margin: 0;
}


.nav-btn {
    width: 260px; 
    height: 185px;
    font-size: 24px;
}

.nav-btn img {
    width: 40%; 
    height: auto;
    object-fit: contain; 
    display: block;
    image-rendering: pixelated;
}

.item-slot {
    position: relative;
}

.item-count {
    position: absolute;
    right: 45px;
    bottom: 110px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}




.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    height: 95%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    margin: 0; 
    padding: 0;
        border: 15px solid #5c3a21;

}

.modal-overlay.active {
    opacity: 1;
    pointer-events: all;
    animation: pixelSlideLoad 0.5s steps(4) forwards;
    animation: pixelSlideLoad 1s steps(4) backwards;


}

.modal-content {
    background: #c4bda4;
    border: 4px solid #5c3a21;
    padding: 30px;
    width: 100%;
    max-width: 660px;
    text-align: center;
    position: relative;
    box-shadow: 0 0 0 4px #000, 0 10px 20px rgba(0,0,0,0.6);
    
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 12px;
    font-size: 28px;
    color: #5c3a21;
    cursor: pointer;
    font-weight: bold;
}

.modal-body img {
    max-height: 200px;
    width: auto;
    margin-bottom: 5px;
}

.modal-body h2 {
    color: #5c3a21;
    font-size: 50px;
    margin-bottom: 2px;
    text-transform: uppercase;
}

.modal-body p {
    color: #7a583c;
    font-size: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;

}

.stats-container {
    background: rgba(0, 0, 0, 0.05);
    padding: 10px;
    border: 2px dashed #5c3a21;
    margin-bottom: 15px;
    text-align: left;
}

.stat-row {
    margin-bottom: 8px;
}

.stat-label {
    font-size: 15px;
    font-weight: bold;
    color: #5c3a21;
    display: block;
    margin-bottom: 3px;
}

.pixel-bar {
    width: 100%;
    height: 14px;
    background: #332211;
    border: 2px solid #5c3a21;
    position: relative;
    overflow: hidden;
}


.pixel-bar-fill {
    height: 100%;
    width: 0%;
}

.str-color { background-color: #ff4444; }
.spd-color { background-color: #00cc66; }
.dur-color { background-color: #3399ff; }



.sell-text {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.sell-container {
    display: flex;
    gap: 12px;
    justify-content: center;
    background: #5c3a21;
    padding: 12px;
    border: 2px solid #000;
}

.sell-btn {
    background: #c4bda4;
    color: #5c3a21;
    border: 3px solid #000;
    padding: 10px 18px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    font-family: inherit;
    transition: transform 0.15s ease, background 0.15s ease;
}

.sell-btn:hover {
    background: #e0d7b8;
    transform: scale(1.08);
}

.sell-btn:active {
    transform: scale(0.95);
}

@media (max-width: 780px) {
    .page-title {
    max-height: 500px;
}
.page-title img {
    height: 90px;
    width: auto;
}
.item-slot.common {
    background: url('./../images/back.png') no-repeat center center/80px 80px; 
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 0.15s ease;
    height: 100%;
    width: auto;
}

.item-slot.rare {
    background: url('./../images/back-rare.png') no-repeat center center/80px 80px; 
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 0.15s ease;
    height: 100%;
    width: auto;
}

.item-slot.epic {
    background: url('./../images/back-epic.png') no-repeat center center/80px 80px; 
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-slot.legendary {
    background: url('./../images/back-legendary1.png') no-repeat center center/80px 80px; 
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 0.15s ease;
    height: 100%;
    width: auto;
}
.item-count {
    position: absolute;
    right: 0px;
    bottom: -5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}
.inventory-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0; 
    
    width: 1500px;
    
    height: 50vh; 
}
}