body {
    animation: pixelSlideLoad 1s steps(4) forwards;
    position: relative;
}

@keyframes pixelSlideLoad {
    0% {
        opacity: 0;
        transform: translateY(-40px);
        filter: brightness(60%);
    }
    33% {
        opacity: 0.5;
        transform: translateY(-25px);
    }
    66% {
        opacity: 0.8;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        filter: brightness(100%);
    }
}

html, body, img {
    image-rendering: pixelated !important;
    image-rendering: crisp-edges !important;
}

body img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('./../images/background.png') no-repeat center center/cover;
    font-family: 'Press Start 2P', monospace;    
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 10;
}



.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}

.main-logo {
    width: 1000px; 
    max-width: 100%;
}

.main-logo img {
    width: 100%;
    height: auto;
    display: block;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; 
    gap: 25px; 
    padding-bottom: 40px; 
    z-index: 10;
}

.nav-btn, .foot-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./../images/button.png') no-repeat center center/contain;
    text-decoration: none;
    color: #63372C;
    text-shadow: 2px 2px 0px #C97D60; 
    font-weight: bold;
    text-align: center;
    transition: transform 0.15s ease;
    
    image-rendering: pixelated; 
    margin: 0;
}


.nav-btn {
    width: 360px; 
    height: 185px;
    font-size: 24px;
}

.navbar .nav-btn:last-child {
    margin-left: auto;
}

.nav-btn img {
    width: 40%; 
    height: auto;
    object-fit: contain; 
    display: block;
    image-rendering: pixelated;
}

.foot-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 420px; 
    height: 225px;  
    
    background: url('./../images/button.png') no-repeat center center / 100% 100%;
    text-decoration: none;
    
}

.foot-btn img {
    width: 50%; 
    height: auto;
    object-fit: contain; 
    display: block;
    image-rendering: pixelated;
}



.nav-btn:hover, .foot-btn:hover {
    transform: scale(1.05);
}

/* .volume-container {
    position: fixed;    
    top: 20px;          
    right: 20px;         
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 9999;      
    background: url('./../images/button.png') no-repeat center center/contain;
    padding: 5px 10px;
    margin-top: -10px;
}
.volume-icon {
    font-size: 20px;
    color: white;
}
.volume-slider {
    width: 100px;
    cursor: pointer;
} */

.volume-container {
        position: fixed;
        top: 20px;
        right: 25px;
        display: flex;
        align-items: center;
        gap: 12px;
        z-index: 9999;
        background: url('./../images/button.png') no-repeat center center / 190% 190%;
        border: 2px solid #000000;  
        padding: 8px 12px;
        margin-top: -17px;
        margin-right: -15px;    
        box-shadow: inset -1px -1px 0px #150a06, inset 1px 1px 0px #4d2d1f;  
    }

    .volume-icon {
        font-size: 12px;
        color: #000000; 
        text-shadow: 1px 1px 0px #000;
        user-select: none;
    }

    .volume-slider {
        -webkit-appearance: none;
        appearance: none;
        width: 80px;
        height: 5px;
        background: #150a06; 
        border: 2px solid #000;
        outline: none;
    }

    .volume-slider:hover {
        transform: scale(1.1);
    }

    .volume-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 10px;
        height: 15px;
        background: #ffaa00; 
        border: 2px solid #000;
        cursor: pointer;
        box-shadow: inset -2px -2px 0px #995500;
    }